/* General */

p {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
#title-blog {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}


/* Main Section*/
main {
    background-color: coral;
    padding: 30px;
}

/* Footer */
footer {
    background-color: bisque;
}

.social-links a i{
    width: 30px;
    height: 30px;
    padding: 10px 0;
    font-size: 1.4em;
    line-height: 15px;
    text-align: center;
    color: black;
}

.sr-only {
    border: none;
}

.hero-image {
    background-image: url('https://res.cloudinary.com/irecloudpractice/image/upload/v1663060526/hero-image_c1outr.jpg');
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Cards section */

.image-flash {
    min-width: 30%;
}

.author {
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.image-container {
    padding: 10px;
}

.pagination {
    color: aqua;
}