/* General */

html {
    position: relative;
  }
  
  body {
    min-height: 100vh;
    background-color: rgb(210, 117, 96);
  }
  
  p {
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Architects Daughter", cursive;
  }
  
  /* Navbar */
  #title-blog {
    font-family: "Architects Daughter", cursive;
    font-size: 1.8em;
  }
  
  .nav-item {
    font-size: 1.1em;
  }
  
  .nav-link {
    color: #000;
  }
  
  .user-link {
    color: #565e64;
  }

  .btn-add-recipe {
    color: #d27560;
  }
  
  .btn-add-recipe:hover {
    font-weight: bolder;
    color: #d27560;
    font-size: 1.1em;
  }
  
  /* Hero image section */
  .hero-image {
    background-image: url("https://res.cloudinary.com/irecloudpractice/image/upload/v1663060526/hero-image_c1outr.jpg");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Main Section*/
  main {
    background-color: rgb(210, 117, 96, 0.8);
    padding: 30px;
    margin-bottom: 3em;
  }
  
  /* Footer */
  
  footer {
    position: absolute;
    bottom: 0px;
  }
  
  .social-links a i {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    font-size: 1.4em;
    line-height: 15px;
    text-align: center;
    color: black;
  }
  
  .social-links a i:hover {
    color: #d27560;
  }
  
  footer p {
    font-size: 1em;
  }
  
  /* Cards section */
  
  .card-text {
    font-size: 1.2em;
    margin-top: -5px;
  }
  
  .author-flash {
    margin-top: 10px;
    margin-bottom: -10px;
  }
  
  .recipe-link:hover {
    color: #d27560;
  }
  
  .author {
    margin: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #d27560;
    font-weight: bold;
    font-family: "Architects Daughter", cursive;
  }
  
  .recipe-link {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
  }
  
  .recipe-img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
    min-height: 250px;
    padding: 3%;
    border-radius: 15px;
  }
  
  /* Site pagination */
  .pagination {
    height: 50px;
    margin-top: 2.5em;
    margin-bottom: 3em;
    padding: 1em;
  }
  
  .current {
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(255, 255, 255, 0.8);
  }
  
  .pagination-links {
    text-decoration: none;
    color: #fff;
    font-family: "Architects Daughter", cursive;
    font-size: 1.2em;
    font-weight: bolder;
  }
  
  /* Recipe's details section */
  .recipe-container,
  .preparation-container,
  .comments-container,
  .update-container,
  .account-container,
  .warning-message,
  .about-container {
    background-color: rgb(248, 249, 250, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2em;
  }
  
  .recipe-summary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .recipe-detail-desc {
    padding-left: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
  }
  
  .recipe-detail-img img {
    max-width: 100%;
    width: 80%;
  }
  
  .recipe-detail-img {
    flex-basis: 40%;
  }
  
  .recipe-title {
    text-transform: capitalize;
  }
  
  .btn-like,
  i .fa-solid,
  i .fa-regular,
  .fa-comment {
    border: none;
    color: #d27560;
  }
  
  .update,
  .comment-btn,
  .account-btn {
    background-color: #d27560;
    color: #000;
    border: 2px solid #d27560;
  }
  
  .delete {
    border: 2px solid #565e64;
    background-color: #f8f9fa;
    color: #000;
  }
  
  .update:hover,
  .comment-btn {
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: rgb(248, 249, 250);
  }
  
  .delete:hover {
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d27560;
    --bs-btn-hover-border-color: #d27560;
  }
  
  /* Comments Section */
  
  .comment-posted {
    background-color: rgb(210, 117, 96, 0.5);
    border-bottom: none;
  }
  
  .comment-author {
    font-size: 1em;
    font-weight: 600;
  }
  
  .form-control:focus {
    border-color: rgb(210, 117, 96, 0.5);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(210, 117, 96, 0.5);
  }
  
  .update-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Account templates: Login, Logout and Signup */
  
  .account-container {
    width: 50%;
    max-width: 80%;
    height: 100%;
    margin-top: 3em;
  }
  
  .account-btn:hover {
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: rgb(248, 249, 250);
    --bs-btn-hover-border-color: #d27560;
  }
  
  .signin-link {
    text-decoration: none;
    color: #d27560;
    font-family: "Architects Daughter", cursive;
    font-size: 1.2em;
  }
  
  .signin-link:hover,
  .pagination-links:hover {
    color: #000;
  }
  
  .summernote-div {
    width: 60%;
    max-width: 310px;
  }
  
  /* About page */
  
  .about-container {
    padding: 2em;
    line-height: 25px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  
  .registration-links {
    text-decoration: none;
    font-weight: bolder;
    color: #d27560;
    font-family: "Architects Daughter", cursive;
    font-size: 1.4em;
    letter-spacing: 1px;
  }
  
  .registration-links:hover {
    color: #000;
  }
  
  @media (max-width: 575.98px) {
    #title-blog {
      font-size: 1.2em;
    }
  
    .about-container,
    .account-container {
      width: 100%;
    }
  
    .account-container {
      margin-top: 2em;
    }
  }
  