{% extends "base.html" %} 
{% block content %}

<div class="container">
    <h1 class="post-title">{{ post.title }}</h1>
    <h3 class="post-subtitle"> {{ post.category }} | By: {{ post.author }} </h3>
    <hr>
    <div class="row g-0">
        <div class="row justify-content-center">
            <div class="col-4">
              {{ post.excerpt }}
            </div>
            <div class="col-4">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/irecloudpractice/image/upload/v1663061761/placeholder-img_zkcm8c.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
          </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <h3>Ingredients</h3>  
  </div>
  <div class="row"><h3>Instructions</h3>
    {{ post.content | safe }}
  </div>
  <div class="row">
    <div class="col-1">
      <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
  </div>
  <div class="col-1">
      {% with comments.count as total_comments %}
      <strong class="text-secondary"><i class="far fa-comments"></i>
          {{ total_comments }}</strong>
      {% endwith %}
  </div>
  </div>
</div>
<div class="row">
  <h3>Comments</h3><hr>
</div>
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  {% for comment in comments %}
  <div class="card-header">
    <p class="comment-date">{{ comment.created_on }}</p>
    <p ><strong>{{ comment.name }}</strong> says:</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ comment.body | linebreaks }}</p>
</div>
{% endfor %}



{% endblock content %}