{% extends "base.html" %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h1 class="post-title">{{ post.title }}</h1>
    <h4 class="post-subtitle">By: {{ post.author }} </h4>
    <hr>
    <div class="row g-0">
        <div class="row justify-content-center">
            <div class="col-4">
              {{ post.description }}
            </div>
            <div class="col-4">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/irecloudpractice/image/upload/v1663061761/placeholder-img_zkcm8c.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
          </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <h3>Ingredients</h3>  
    <p> {{ post.ingredients | safe }}</p>
  </div>
  <div class="row"><h3>Instructions</h3>
    {{ post.instructions | safe }}
  </div>
  <div class="row">
    <div class="col-1">
      <strong>
        {% if user.is_authenticated %}
        <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
          {% csrf_token %}
          {% if liked %}
            <button type="submit" value="{{ post.slug }}" class="btn-like" name="blogspot_id">
              <i class="fas fa-heart"></i> 
            </button>
          {% else %}
            <button type="submit" value="{{ post.slug }}" class="btn-like" name="blogspot_id">
              <i class="far fa-heart"></i> 
            </button>
          {% endif %}
        </form>
        {% else %}
        <span class="text-secondary"><i class="far fa-heart"></i></span>
        {% endif %}
        <span class="text-secondary">{{ post.number_of_likes }}</span>
      </strong>
  </div>
  <div class="col-1">
      {% with comments.count as total_comments %}
      <strong class="text-secondary"><i class="far fa-comments"></i>
          {{ total_comments }}</strong>
      {% endwith %}
  </div>
  </div>
</div>
<div class="row">
  <h3>Comments</h3><hr>
</div>
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  {% for comment in comments %}
  <div class="card-header">
    <p class="comment-date">{{ comment.created_on }}</p>
    <p ><strong>{{ comment.name }}</strong> says:</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ comment.body | linebreaks }}</p>
</div>
{% endfor %}

<div class="container">
  <div class="card-body">
    {% if commented %}
      <div class="alert alert-success" role="alert">Your comment is posted
      </div>
    {% else %}
    {% if user.is_authenticated %}

      <h3>Leave a comment:</h3>
      <p>Posting as: {{ user.username }}</p>
      <form method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Post</button>
      </form>
      {% endif %}
      {% endif %}
  </div>
</div>

{% endblock content %}