{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% block title %}
  <title> Update Recipe</title>
{% endblock %}

    <!-- Hero  image -->
    {% block hero %}
    {% endblock %}

    <!-- Form for adding a new recipe -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Update Recipe</h2>
                <div class="update-container">
                    <form action="?action=save" method="recipe" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                {{ recipe_form | crispy | safe }}
                                {% csrf_token %}
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary comment-btn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}